body {
    background: #FAFAFA;
    margin: 0;
    font-family: "Roboto", serif;
}

#grid-container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1.25fr 2fr;
    width: 100%;
    height: 100%;
    column-gap: 1%;
    padding: 25px;
}

.section {
    background: white;
    height: 100%;
    border-radius: 50px;
    box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.25);
    padding: 0 5%;
}

h1 {
    text-align: center;
    font-size: 48px;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 230px;
    left: calc(100% - 230px);
}

.custom-select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    background-color: #6C757D;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select:hover {
    background-color: #5C636A;
}

.custom-select-wrapper::after {
    content: '▼';
    color: white;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

option {
    background-color: white;
    color: black;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 40px;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    background: #FAFAFA;
}

td:last-child {
    border: none;
    background: none;
}

.min-pl-button {
    color: white;
    background-color: #6C757D;
    height: 27px;
    width: 27px;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 100%;
}

.min-pl-button:hover {
    background-color: #5C636A;
}

tbody tr:only-child .min-pl-button {
    display: none;
}

.label, .tarrival, .texecution {
    /*all: unset;*/
    border: none;
    outline: none;
    background: none;
    width: 80px;
    font-size: 20px;
    text-align: center;
}

.tarrival, .texecution {
    position: relative;
    left: 6px;
}

#solve {
    background: #4CAF50;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 70px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);

    display: block;
    margin: auto;
}

#solve:hover {
    background: #45A049;
}

.section:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.input-container {
    flex-grow: 1;
    overflow-y: auto;
}

label {
    display: block;
}

#line {
    background-color: black;
    width: 100%;
    height: 1px;
}